body {
  background-color: lightBlue;
  text-align: center;
  }
  .mainSection{
    padding: 500px 0px 0px 0px;
  }

.topPicture{
  position: absolute;
  float:
  z-index: 0;
  border: solid 3px white;
  border-radius: 15px 0px 15px 0px;
  color: white;
  position: absolute;
  margin: 100px 0px 250px 900px;
  z-index: 1;

}
p{
  font-family: cursive;
  color: white;

}
h2{
  font-family: cursive;
  color: white;
}
